$main-font-family: "Open Sans";
$title-font-family: "Oswald";
$main-text-color-dark: #212121;
$main-text-color-light: #ffffff;
$main-bg-color: #00000080;
$dark-bg-color: #19545e;
$color-title: #000;
$accent-text-color: #bf9000;
$accent-bg-color: #f41616;
